<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Extrato Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- dedalhes do pagamento -->
<ion-content class="color-page">
  <ion-card class="card-white">
    <ion-card-header>
      <ion-card-title>Pagamento: {{servico}}</ion-card-title><br>
      <!-- <ion-card-title>{{servico}}</ion-card-title> -->
    </ion-card-header>
  
    <ion-card-content >
      Coligada: {{codColigada}} <br>
      Filial: {{codFilial}} <br> 
      <!-- Ref. Lançamento: {{idLan}}<br> -->
      <!-- Boleto: {{idBoleto}}<br> -->
      Parcela: {{parcela}}<br>
      <!-- Status: {{status}}<br> -->
      Liquido (R$): {{valorLiquido}}<br>
      Vencimento: {{dataVencimento  | date:"dd/MM/yyyy"}}<br>
    </ion-card-content>
  </ion-card>

<!-- forma de pagamento -->
  <ion-card class="card-white">
    <ion-card-header>
      <ion-card-title>Opções de Pagamento:</ion-card-title><br>
      
    <ion-list>
     
      <ion-item>
        <ion-card-subtitle color= "dark"><b>Nome impresso na frente do cartão:</b></ion-card-subtitle>
        <ion-label class= "ion-text-upercase" position="stacked"></ion-label>
        <ion-input [(ngModel)]="nomeCartao" type="text" placeholder="Conforme está impresso no cartão"></ion-input> 
      </ion-item>

      <ion-item>
        <ion-card-subtitle color= "dark"><br><b>Nome de quem está efetuando o pagamento (Nome do Comprador):</b><br><br>{{nomeRA}}</ion-card-subtitle>
      </ion-item> 
                  
      <ion-item>
        <ion-label>Meio de Pagamento</ion-label>
        <ion-select interface="popover" [(ngModel)]="meioPagamento">
           <ion-select-option value="credito">Credito</ion-select-option>
           <ion-select-option value="debito">Débito</ion-select-option>        
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Bandeira</ion-label>
        <ion-select interface="popover" [(ngModel)]="bandeira">
           <ion-select-option value="master">MastarCard</ion-select-option>
           <ion-select-option value="visa">Visa</ion-select-option>
           <ion-select-option value="elo">Elo</ion-select-option>       
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-card-subtitle color= "dark"><br><b>Parcelas:</b></ion-card-subtitle>
        <ion-label position="stacked"></ion-label>
        <ion-input [(ngModel)]="parcelas" type="number" placeholder="1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-card-subtitle color= "dark"><br><b>Validade:</b></ion-card-subtitle>
        <ion-label position="stacked"></ion-label>
        <ion-input [(ngModel)]="validade" type="text" placeholder="99/9999"></ion-input>
      </ion-item>

      <ion-item>
        <ion-card-subtitle color= "dark"><br><b>Número de Cartão:</b></ion-card-subtitle>
        <ion-label position="stacked"></ion-label>
        <ion-input [(ngModel)]="numeroCartao" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-card-subtitle color= "dark"><br><b>Cód. Segurança:</b></ion-card-subtitle>
        <ion-label position="stacked"></ion-label>
        <ion-input [(ngModel)]="codSeguranca" type="number" placeholder="999"></ion-input>
      </ion-item>   



    </ion-list> 

  </ion-card-header>

    <section class="ajuste-center-page">
      <ion-button class= "ion-text-capitalize" color="success" (click)="btPagamento()">Pagar
        <ion-icon slot= "end" name="cash-outline"></ion-icon>
      </ion-button>
  
      <!-- <ion-button class= "ion-text-capitalize" color="success" (click)="btBoleto()">Gerar Boleto
        <ion-icon slot= "end" name="barcode-outline"></ion-icon>
      </ion-button> -->
    </section>

  </ion-card>


</ion-content>
