<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Extrato Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Detales Extrato:</ion-card-subtitle>
      <ion-card-title>{{Servico}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      codColigada: {{CodColigada}} <br>
      codFilial: {{CodFilial}} <br>
      idLan: {{IdLan}}<br>
      IdBoleto: {{IdBoleto}}<br>
      Parcela: {{Parcela}}<br>
      Status: {{Status}}<br>
      ValorLiquido: {{ValorLiquido}}<br>
      DataVencimento: {{DataVencimento}}<br>
    </ion-card-content>
  </ion-card>
</ion-content>
