.full{
    height: 100%;
    width: 70%;
}

span{
    padding-left: 40px;
    
  }
  
.ajuste-center-page{    
    height: 90%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

div{
    text-align: center;    
  }
