
  

  <ion-icon name="logo-usd"

      (click)="open(content)"> 
  
  </ion-icon>

<!--   class="ajuste-center-page" -->

  <ng-template #content let-c="close" let-d="dismiss">
    <ion-backdrop tappable="false"></ion-backdrop>
     <ion-card>
      
      <ion-header>
        <ion-toolbar color="white" >
          <ion-title *ngFor="let lancamento of extratoFinanLancamentos">{{lancamento.CodColigada}} - RA: {{ra}} - Boleto: {{titulo}} </ion-title>
      
          <ion-button style="padding-right: 10px"  slot="end" (click)="btFechar()" class="ion-text-capitalize" color="success">Fechar</ion-button>
      
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>R. Lanç.</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <b>Venc.</b>                
              </div>
            </ion-col>
            <ion-col>
              <div>
                <b>Status</b>                
              </div>
            </ion-col>
            <ion-col>
              <div>
                <b>Valor</b>                
              </div>
            </ion-col>          
          </ion-row>
        </ion-grid>

        <ion-item-sliding *ngFor="let lancamento of extratoFinanLancamentos">
        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    {{lancamento.IdLancamento}}
                  </div>                                  
                </ion-col>
                <ion-col>
                  <div>
                    {{lancamento.DataVencimento | date:"dd/MM"}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{lancamento.Status}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{lancamento.ValorLiquido | currency: 'R$'}}
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-item-sliding>

      </ion-list>
    

    </ion-card>

  </ng-template>
