<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Extrato Financiro</ion-title>
    <!-- *ngIf="listaBoletosSelecionados>1" -->
    <ion-button  style="padding-right: 10px" slot="end" *ngIf="listaBoletosSelecionados.length>1" (click)="btpagar(null)" class="ion-text-capitalize" color="success">Pagar
    </ion-button>

  </ion-toolbar>
</ion-header>

<!-- barra de buscar(search) -->
<!-- <ion-row>
  <ion-col size="9">
    <ion-input color="primary" [(ngModel)]="nome" type="search" placeholder="Buscar"></ion-input>
  </ion-col>
  
  <ion-col>
    <ion-buttons (click)="buscar()">
      <ion-button>
        <ion-icon color="primary" slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>

</ion-row>
 -->

<ion-content padding>

  <!-- Custom Refresher Content -->
  <ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="hourglass-outline"   
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher> -->

    <ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <b>Selec.</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b>Boleto</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b>Empr.</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b> Venc.</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b>Valor</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b>R. Lanç.</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <b>Pagar</b>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      


      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding *ngFor="let extrato of listas; let i = index">

        

        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <!-- <ion-list>
                      <ion-item *ngFor="let i = index"> -->
                        <ion-checkbox color="primary" slot="start"
                        (ionChange)="onBoletosPagarChange($event, extrato)">
                        </ion-checkbox>
                     <!--  </ion-item>
                    </ion-list> -->
                   <!--  <ion-checkbox color="primary" slot="start"></ion-checkbox>
                    <ion-checkbox  *ngFor="let extrato of listas"
                    color="primary" slot="start" [(ngModel)]="boletosPagar[i].checked" 
                    (ionChange)="onBoletosPagarChange()">
                  </ion-checkbox> -->
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{extrato.IdBoleto}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{extrato.CodColigada}}/{{extrato.CodFilial}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{extrato.DataVencimento | date:"dd/MM"}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{extrato.ValorLiquido | currency: 'R$'}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <app-lancamentos [extratoFinanLancamentos]="extrato.Lancamentos"></app-lancamentos>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-icon *ngIf="extrato.Status=='Em Aberto'" class="red" name="medical" (click)="btpagar(extrato)"></ion-icon>
                    <!-- <ion-icon *ngIf="extrato.Status=='Em Aberto'" class="red" name="medical" (click)="pagarmento(extrato.CodColigada, extrato.CodFilial,
          extrato.IdBoleto, extrato.CodServicoPrincipal, extrato.Status,
          extrato.ValorLiquido, extrato.DataVencimento, extrato.Lancamentos)"></ion-icon> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option class="ion-text-capitalize" color="success" (click)="pagarmento(extrato.CodColigada, extrato.CodFilial,
          extrato.IdBoleto, extrato.CodServicoPrincipal, extrato.Status,
          extrato.ValorLiquido, extrato.DataVencimento, extrato.Lancamentos)">
            Pagar
            <ion-icon slot="end" name="cash-outline"></ion-icon>
          </ion-item-option>

          <ion-item-option class="ion-text-capitalize" (click)="geraBoleto()">
            Boleto
            <ion-icon slot="end" name="barcode-outline"></ion-icon>
          </ion-item-option>
          <!-- <ion-item-option color="danger" (click)="excluir(cliente.id)">Excluir</ion-item-option> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <!--  barra de rolagem -->
    <!--  <ion-infinite-scroll  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Carragando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  </ion-content>